apiVersion: v1
kind: PersistentVolume
metadata:
  name: plots-storage
  namespace: default
spec:
  capacity:
    storage: 1Gi
  volumeMode: Filesystem
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: /Users/adamjharrison/Desktop/Project/Cloud-Computing/plots
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - docker-desktop
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plots-storage
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: local-storage
---
apiVersion: batch/v1
kind: Job
metadata:
  name: combiner 
spec:
  template:
    metadata:
      labels:
        app: combiner
    spec:
      containers:
        - image: adamjharrison/combiner
          imagePullPolicy: Never
          name: combiner
          volumeMounts:
            - name: plots-storage
              mountPath: /plots
      volumes:
        - name: plots-storage
          persistentVolumeClaim:
            claimName: plots-storage
      restartPolicy: OnFailure