apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-storage
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: hostpath
---
apiVersion: batch/v1
kind: Job
metadata:
  name: distributor 
spec:
  template:
    metadata:
      labels:
        app: distributor
    spec:
      containers:
        - image: adamjharrison/distributor
          imagePullPolicy: Never
          name: distributor
          volumeMounts:
            - name: data-storage
              mountPath: /data
      volumes:
        - name: data-storage
          persistentVolumeClaim:
            claimName: data-storage
      restartPolicy: OnFailure